.navbar{
    font-size: 20px;
    font-family: "hyundaimedium";    
    width: 100%;
}


.navBg{
    background-color: #19110b;
}

.navbar-brand{
    font-size: 30px;
}

.a{
    color: white;
}

.carousel{
    max-width: 1000px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-wrap{
    padding: 15px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
}

.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #aa9898;
    border-radius: 15px;
    width: 450px;
    height: 210px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 0 10px 0;
}

.underline{
    border-bottom: 1px solid #392d23;
    font-weight: 900;
    font-size: 20px;
}

.book{
    height: 50px;
    width: 200px;
    border-radius: 40px;
    background-color: royalblue;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.writeInput{
    width: 400px;
    height: 50px;
    word-break: normal;
}